<div class="create-post-wrapper">
  <div id="form-container" class="box create-post-box">
    <h2 id="create-post-title" class="subtitle is-3">Create a New Post</h2>
  
    <hr>
  
    <div id="post-form-wrapper">
      <% if @type == "TextPost" %>
        <div>
          <%= render "textpost_form" %>
        </div>
  
        <div class="hidden-content">
          <%= render "picturepost_form" %>
        </div>
      <% else %>
        <div class="hidden-content">
          <%= render "textpost_form" %>
        </div>
  
        <div>
          <%= render "picturepost_form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
