// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.already-liked {
  background-color: rgb(251, 251, 251) !important;
  border-color: rgb(245, 245, 245) !important;
  color: rgb(150, 150, 150) !important;
  max-width: 78px;
}

.bottom-bar {
  margin: 0 auto !important;
}

.comment-children {
  margin-top: 15px;
}

.comment-container {
  padding: 6px 0px 6px 6px;
  box-shadow: 0px 0px 4px rgba(23, 119, 242, 0.21);
  border-radius: 5px;
  margin-bottom: -4px;
  margin-top: 15px;
}

.comment-header-label-comm, .comment-header-label-like {
  position: absolute;
  width: fit-content !important;
}

.comment-header-label-comm {
  top: 16px;
  left: 5%;
}

.comment-header-label-like {
  top: 16px;
  right: 5%;
}

.comment-section-btn, .submit-post {
  border: none !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  background-color: rgb(22,111,229) !important;
  color: white !important;
}

.comment-side-btn {
  margin-right: auto;
  height: 25px !important;
}

.comment-side-like {
  float: right;
  margin-left: 5px;
}

.comment-top {
  height: 60px;
  margin-bottom: 10px;
}

.comment-username > a {
  float: left;
  color: black !important;
  font-weight: 500;
  text-decoration: underline;
}

.comment-username > a:hover {
  color:rgb(23, 119, 242) !important;
}

.comment-username > a > i {
  margin-left: 15px;
}

.control > #comment_comment_body {
  min-height: 80px !important;
  height: fit-content !important;
  font-size: 16px !important;
  resize: none;
}

.create-post-box {
  min-width: 80%;
  height: fit-content !important;
  margin-bottom: 40px;
}

.create-post-wrapper {
  padding-bottom: 20px;
}

.friend-list-wrapper {
  min-width: 220px;
}

.like {
  color: rgb(23, 119, 242) !important;
  background-color: rgb(240,242,245) !important;
}

.like-container {
  width: 115px;
  margin-right: 5px;
  float: right;
}

.main-page-cols {
  margin: 0px !important;
}

.main-pic {
  display: block;
  margin: 0 auto !important;
  border-radius: 5px;
}

.main-pic-post, .main-text-post {
  color: black !important;
  padding: 20px;
  border: 1px #e2e2e2 solid;
  box-shadow: 0px 0px 15px #9e9e9e;
  border-radius: 5px;
  margin: 15px auto;
  max-width: 1100px;
  width: fit-content;
}

.main-pic-post > .subtitle.is-6 {
  color: rgb(22,111,229) !important;
  text-align: center;
}

.main-submit-wrapper {
  height: 30px;
  margin-top: 15px;
}

.no-pad {
  padding: 0px !important;
}

.opener {
  margin-left: 30px;
  margin-top: 20px;
}

.opener, .switcher {
  color: rgb(24,119,242) !important;
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 18px;
  font-size: 14px !important;
  cursor: pointer;
  width: fit-content;
}

.opener:hover, .switcher:hover {
  text-decoration: underline;
}

.pic-title {
  margin: 0px 0px 10px 0px !important;
}

.post-content {
  position: relative;
  padding: 6px;
  border-radius: 5px;
}

.post-content:hover {
  background-color: rgb(245, 241, 241);
}

.post-side-hr {
  margin-top: 11px !important;
  margin-bottom: 11px !important;
  border: none !important;
  border-radius: 2px !important;
  height: 3px !important;
  background-color:rgb(23, 119, 242) !important;
}

.post-submit-wrapper {
  height: 30px;
  margin-top: 30px;
}

.reply-btn {
  width: 80px !important;
  height: 30px !important;
  padding: 0px 14px !important;
  border-radius: 0px 4px 4px 0px !important;
}

.reply-comment > form {
  height: 30px;
}

.reply-line {
  float: left;
  height: 30px;
  width: calc(98% - 80px);
}

.reply-line > textarea {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  border-color: #dbdbdb !important;
  color: rgb(74,74,74);
  resize: vertical;
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
}

.reply-line > textarea:hover {
  border-color: #b5b5b5 !important;
}

.reply-line > textarea:focus {
  outline-width: 0px;
  border-color: #3273dc !important;
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25) !important;
}

.single-post {
  margin: 12px 5% !important;
}

.submit-comment, .submit-post {
  width: 150px !important;
  height: 30px !important;
  border-radius: 4px;
}

.submit-post {
  float: left;
}

.switcher {
  height: 30px;
  margin-left: 160px;
  padding: 6px 0px;
}

.top-bar-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}

.trash-can > i {
  color: rgb(23, 119, 242) !important;
}

.trash-can > i:hover {
  color: black !important;
}

.username {
  color: black !important;
  text-decoration: underline;
}

.username-header {
  color: black;
  text-decoration: underline;
  float: left;
  padding: 18px 0px;
}

.user-comm {
  height: 60px;
}

.user-details {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 10px;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}

.user-details:hover, .user-comm:hover {
  background-color: rgb(245, 241, 241);
  border-radius: 6px;
}

.user-float-with {
  float: left;
}

.user-pic {
  float: left;
}

.user-pic-comm {
  float: left;
}

.user-name-comm {
  float: left;
  text-decoration: underline;
}

.user-name-comm:hover, .user-comm:hover {
  color: black !important;
}

#comment-contents {
  margin: 0 auto;
  width: 75%;
}

#comment-count, #likes-count {
  color: rgb(23, 119, 242) !important;
}

#comment-header {
  text-align: center;
  height: 70px !important;
  margin: 0;
  position: relative;
}

#comment-like-count {
  color: black;
  font-weight: 500;
}

#create-new-post-subtitle {
  margin-bottom: 15px;
}

#create-post-header-wrapper {
  float: left;
}

#create-post-title {
  text-align: center;
}

#line {
  height: 2px;
  background-color: rgb(22,111,229) !important;
  width: calc(100% - 165px);
  margin-top: 12px;
  float: right;
}

#main-page-body-input {
  min-height: 80px !important;
}

#main-post-heading {
  height: 40px;
}

#new-post-box {
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#pic-body-wrap, #pic-title-wrap, #pic-wrap, .bottom-bar {
  max-width: 80%;
  margin: 0 auto;
}

#pic-wrap > img {
  box-shadow: 0px 0px 15px rgb(158, 158, 158);
  margin: 5px;
}

#picture_post_picture_body, #text_post_post_body {
  min-height: 300px !important;
}

#post-contents {
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
}

#post-like-btn-column {
  max-width: 100px;
  text-align: center;
}

#post-picture {
  border-radius: 8px;
}

#post-side-btn {
  max-height: 25px !important;
}

#spacer {
  padding: 40px 0px;
}

#text-body-wrap {
  padding: 20px;
  border: 1px #e2e2e2 solid;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px #9e9e9e;
  text-align: left;
  text-indent: 50px;
}

#thumb-up {
  color: rgb(23, 119, 242) !important;
}

@media screen and (max-width: 600px) {
  .contents {
    padding-top: 56px !important;
  }

  .comment-header-label {
    font-size: 16px !important;
  }

  .create-post-box {
    max-width: calc(100% - 30px) !important;
    margin: 0px 15px !important;
  }

  .create-post-wrapper {
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .user-pic-comm {
    display: none;
  }
  
  #comment-contents {
    width: 100%;
    border-radius: 0;
  }

  #post-contents {
    border-radius: 0;
    max-width: 100%;
  }

  #spacer {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 675px) {
  .comment-header-label-comm {
    top: 0px;
    left: 75px;
  }
  
  .comment-header-label-like {
    top: 40px;
    left: 75px;
  }
  
  .username-header {
    float: none;
    padding: 18px 0px;
  }
  
  .user-details {
    width: fit-content;
    left: -10px;
    top: -15px;
    margin: 0;
  }
  
  .user-pic {
    float: none;
    width: 60px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 950px) {
  .friend-list-wrapper {
    margin-left: -40px;
  }
}
